@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --mainBgColor:rgba(20,20,31,11);
    --secondaryBgColor:rgb(9, 74, 89);
    --borderColor1:rgba(40,41,57,1);
    --borderColor2:rgba(79,86,105,1);
    --textColorMain:#fff;
    --textColorSecondary:rgb(226, 227, 232);
    --themeColorMain:rgba(219,26,90,1);
    --themeColorSecondary:#386fd2;
    --glow-color: hsl(186 100% 69%);
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 1;
  /* border: 1px solid red; */
  }

/* a{
  color: #40e0d0;
} */

body{
    /* background-color: var(--mainBgColor); */
    color: var(--textColorMain);
    overflow-x: hidden;
    background: rgb(151,207,194);
    background: linear-gradient(90deg, rgb(93, 255, 217) 2%, rgba(213,209,232,1) 48%, rgba(198,212,214,1) 74%);
    
  }
  .chat{
  
  /* height: 100vh; */
  width: 100vw;
  /* border: 2px solid red; */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  top:0;

}
.container{
  max-width: 600px;
  margin:20px auto;
  /* border: 2px solid pink; */

}
.bg-tran{
  background-color: #030e13;


}
/* Login & Register Pages */

.auth--container{
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--mainBgColor);
  justify-content: center;
}

.form--wrapper{
  width: 600px;
  width: 600px;
  padding: 2em;
}

.field--wrapper{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}



/* Form Input Styling */

/* input[type="text"],  */


input[type="password"], input[type="email"], textarea,#pass,.logpass{
  background: var(--mainBgColor);
  border: none;
  border-bottom: 1px solid var(--borderColor1);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
}
.logpass{
  padding: 0;
}

/* Button Styling */

.btn{
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--lg{
  padding: 1em 2em;
}

.btn--main{
  background-color: rgba(219,26,90,1);
  color: #fff;
}

.btn--secondary{
  background-color: #8db3dd;
}

.btn:hover{
  opacity: 0.7;
}

/* Header Styling */

#header--wrapper{
  background-color: var(--mainBgColor);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border:1px solid var(--borderColor1);
  border-bottom: none;
}

.header--link{
  color: #c7d8eb;
  cursor: pointer;
  transition: 0.3s;
}

.header--link:hover{
  color: #8db3dd;
}

/* Room Styling */

.room--container{
  padding: 2em;
  background-color: var(--secondaryBgColor);
  padding: 2rem;
  border-radius: 20px 20px 10px 10px;
  height: 100vh;
  /* overflow-y: scroll; */
  border:1px solid var(--borderColor1);
 

      backdrop-filter: blur(14px) saturate(187%);
      -webkit-backdrop-filter: blur(14px) saturate(187%);
      background-color: rgba(17, 25, 40, 0.63);
      border-radius: 12px;
     
}
.one-onechat{
  background-color: #00121f;
  background-image: 
      radial-gradient(at 47% 33%, hsl(162.31, 100%, 54%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(217.50, 0%, 0%) 0, transparent 55%);
  
  
}
#message--form{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.send-btn--wrapper{
  display: flex;
  justify-content: flex-end;
}



.message--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
}

* {
  scrollbar-color: transparent transparent;
}

/* For Internet Explorer/Edge */
* {
  -ms-overflow-style: none;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

.messages{
  /* border: 2px solid red;  */
  margin-top: .5rem;
  border-top: 3px solid rgb(28, 2, 35);
  height: 60vh;
  border-radius: 1rem;
  overflow-y: scroll;
}


.message--wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
}

.message--body {
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  padding: .5rem 1rem;
  border-radius: 10px;
  color: var(--textColorSecondary);
  background-color: var(--themeColorMain);
  /* max-width: 40%; Adjust the max-width as needed */
  width: fit-content;
  word-wrap: break-word;
  position: relative;
  box-shadow: -1px -1px 3px rgb(10, 255, 149);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.message--body--owner {
  border-bottom: 1px solid wheat;
  box-shadow: 1px 1px 1px rgb(2, 125, 55);
  font-weight: 700;
  
  /* background-color: #030e13;
  background-image: 
      radial-gradient(at 47% 33%, hsl(261.87, 100%, 18%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(274.05, 100%, 21%) 0, transparent 55%); */
      background: white;
      color: #386fd2;

  padding: .2rem;
  border-radius: 10px;
  align-self: flex-end; /* Align user messages to the right */
}

.message-timestamp{
  margin-left: 1em;
  color: rgb(164, 161, 161);
}

.delete--btn{
  color:#8db3dd;
  cursor: pointer;
  transition: 0.3s;
  width: 16px;
}

.delete--btn:hover{
  color:red;
}


/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');` */




.one-btn{
  padding: 5px 30px;
  outline: 2px solid black;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.one-btn:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#group{
  /* background: white; */
  background: rgb(151,207,194);
background: linear-gradient(90deg, rgb(93, 255, 217) 2%, rgba(213,209,232,1) 48%, rgba(198,212,214,1) 74%);
}
/* #group--room{
  background-color: #1c82ff;
} */



@media only screen and (max-width: 767px)  {
  
  @keyframes mybtn {
    0%{
      transform: scale(1);
      box-shadow: 2px 2px 2px rgb(169, 169, 169);
    }
    50%{
      transform: scale(1.1);
      box-shadow: 2px 1px 2px rgb(0, 0, 0);
    }
    100%{
      transform: scale(1);
      box-shadow: 2px 3px 2px rgb(169, 169, 169);
    }
  }
  #mybutton {
    /* position: fixed;
    top: 6rem;
    left: 10rem; */
    background-color: white;
    padding: .5rem;
    margin-top: 1rem;
    border-radius: 100%;
    transition: .5s;
    animation: mybtn 2s ease-in-out  infinite;
  }
}

    .groupList{
      
      background-color: wheat;
      border-radius: 1rem;
      
      
    }