@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --mainBgColor:rgba(20,20,31,11);
    --secondaryBgColor:rgb(9, 74, 89);
    --borderColor1:rgba(40,41,57,1);
    --borderColor2:rgba(79,86,105,1);
    --textColorMain:#fff;
    --textColorSecondary:rgb(226, 227, 232);
    --themeColorMain:rgba(219,26,90,1);
    --themeColorSecondary:#386fd2;
    --glow-color: hsl(186 100% 69%);
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 1;
  }

a{
  color: #40e0d0;
}

body{
    background-color: var(--mainBgColor);
    color: var(--textColorMain);
    overflow-x: hidden;
  }
  .chat{
  
  /* height: 100vh; */
  width: 100vw;
  /* border: 2px solid red; */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;

}
.container{
  max-width: 600px;
  margin:20px auto;
  /* border: 2px solid pink; */

}
.bg-tran{
  background-color: #030e13;
   background-image: 
       radial-gradient(at 47% 33%, hsl(261.87, 100%, 18%) 0, transparent 59%), 
       radial-gradient(at 82% 65%, hsl(274.05, 100%, 21%) 0, transparent 55%);

}
/* Login & Register Pages */

.auth--container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--wrapper{
  width: 600px;
  width: 600px;
  padding: 2em;
}

.field--wrapper{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}



/* Form Input Styling */

/* input[type="text"],  */


input[type="password"], input[type="email"], textarea{
  background: var(--mainBgColor);
  border: none;
  border-bottom: 1px solid var(--borderColor1);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
}


/* Button Styling */

.btn{
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--lg{
  padding: 1em 2em;
}

.btn--main{
  background-color: rgba(219,26,90,1);
  color: #fff;
}

.btn--secondary{
  background-color: #8db3dd;
}

.btn:hover{
  opacity: 0.7;
}

/* Header Styling */

#header--wrapper{
  background-color: var(--mainBgColor);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border:1px solid var(--borderColor1);
  border-bottom: none;
}

.header--link{
  color: #c7d8eb;
  cursor: pointer;
  transition: 0.3s;
}

.header--link:hover{
  color: #8db3dd;
}

/* Room Styling */

.room--container{
  padding: 2em;
  background-color: var(--secondaryBgColor);
  padding: 2rem;
  border-radius: 20px 20px 10px 10px;
  height: 100vh;
  /* overflow-y: scroll; */
  border:1px solid var(--borderColor1);
 

      backdrop-filter: blur(14px) saturate(187%);
      -webkit-backdrop-filter: blur(14px) saturate(187%);
      background-color: rgba(17, 25, 40, 0.63);
      border-radius: 12px;
     
}
.one-onechat{
  background-color: #00121f;
  background-image: 
      radial-gradient(at 47% 33%, hsl(162.31, 100%, 54%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(217.50, 0%, 0%) 0, transparent 55%);
  
  
}
#message--form{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.send-btn--wrapper{
  display: flex;
  justify-content: flex-end;
}



.message--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
}

* {
  scrollbar-color: transparent transparent;
}

/* For Internet Explorer/Edge */
* {
  -ms-overflow-style: none;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

.messages{
  /* border: 2px solid red;  */
  margin-top: .5rem;
  border-top: 3px solid rgb(28, 2, 35);
  height: 60vh;
  border-radius: 1rem;
  overflow-y: scroll;
}


.message--wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
}

.message--body {
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  padding: .5rem 1rem;
  border-radius: 10px;
  color: var(--textColorSecondary);
  background-color: var(--themeColorMain);
  /* max-width: 40%; Adjust the max-width as needed */
  width: fit-content;
  word-wrap: break-word;
  position: relative;
  box-shadow: -1px -1px 3px rgb(10, 255, 149);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.message--body--owner {
  border-bottom: 1px solid wheat;
  box-shadow: 1px 1px 5px rgb(2, 125, 55);
  
  background-color: #030e13;
  background-image: 
      radial-gradient(at 47% 33%, hsl(261.87, 100%, 18%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(274.05, 100%, 21%) 0, transparent 55%);
  padding: .2rem;
  border-radius: 10px;
  align-self: flex-end; /* Align user messages to the right */
}

.message-timestamp{
  margin-left: 1em;
  color: rgb(164, 161, 161);
}

.delete--btn{
  color:#8db3dd;
  cursor: pointer;
  transition: 0.3s;
  width: 16px;
}

.delete--btn:hover{
  color:red;
}


.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
